<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyu.provider.user.dao.XtdljkxxbMapper" >
  <resultMap id="BaseResultMap" type="com.xiaoyu.provider.user.entity.Xtdljkxxb" >
    <id column="ZJ" property="zj" jdbcType="BIGINT" />
    <result column="FWMC" property="fwmc" jdbcType="VARCHAR" />
    <result column="JKMC" property="jkmc" jdbcType="VARCHAR" />
    <result column="JKZT" property="jkzt" jdbcType="VARCHAR" />
    <result column="SM" property="sm" jdbcType="VARCHAR" />
    <result column="CJRZJ" property="cjrzj" jdbcType="BIGINT" />
    <result column="CJSJ" property="cjsj" jdbcType="TIMESTAMP" />
    <result column="XGSJ" property="xgsj" jdbcType="TIMESTAMP" />
    <result column="XGRZJ" property="xgrzj" jdbcType="BIGINT" />
    <result column="SCBZ" property="scbz" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xiaoyu.provider.user.entity.Xtdljkxxb" extends="BaseResultMap" >
    <result column="BZ" property="bz" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ZJ, FWMC, JKMC, JKZT, SM, CJRZJ, CJSJ, XGSJ, XGRZJ, SCBZ
  </sql>
  <sql id="Blob_Column_List" >
    BZ
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xtdljkxxb
    where ZJ = #{zj,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from xtdljkxxb
    where ZJ = #{zj,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaoyu.provider.user.entity.Xtdljkxxb" >
    insert into xtdljkxxb (ZJ, FWMC, JKMC, 
      JKZT, SM, CJRZJ, CJSJ, 
      XGSJ, XGRZJ, SCBZ, 
      BZ)
    values (#{zj,jdbcType=BIGINT}, #{fwmc,jdbcType=VARCHAR}, #{jkmc,jdbcType=VARCHAR}, 
      #{jkzt,jdbcType=VARCHAR}, #{sm,jdbcType=VARCHAR}, #{cjrzj,jdbcType=BIGINT}, #{cjsj,jdbcType=TIMESTAMP}, 
      #{xgsj,jdbcType=TIMESTAMP}, #{xgrzj,jdbcType=BIGINT}, #{scbz,jdbcType=VARCHAR}, 
      #{bz,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyu.provider.user.entity.Xtdljkxxb" >
    insert into xtdljkxxb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zj != null" >
        ZJ,
      </if>
      <if test="fwmc != null" >
        FWMC,
      </if>
      <if test="jkmc != null" >
        JKMC,
      </if>
      <if test="jkzt != null" >
        JKZT,
      </if>
      <if test="sm != null" >
        SM,
      </if>
      <if test="cjrzj != null" >
        CJRZJ,
      </if>
      <if test="cjsj != null" >
        CJSJ,
      </if>
      <if test="xgsj != null" >
        XGSJ,
      </if>
      <if test="xgrzj != null" >
        XGRZJ,
      </if>
      <if test="scbz != null" >
        SCBZ,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zj != null" >
        #{zj,jdbcType=BIGINT},
      </if>
      <if test="fwmc != null" >
        #{fwmc,jdbcType=VARCHAR},
      </if>
      <if test="jkmc != null" >
        #{jkmc,jdbcType=VARCHAR},
      </if>
      <if test="jkzt != null" >
        #{jkzt,jdbcType=VARCHAR},
      </if>
      <if test="sm != null" >
        #{sm,jdbcType=VARCHAR},
      </if>
      <if test="cjrzj != null" >
        #{cjrzj,jdbcType=BIGINT},
      </if>
      <if test="cjsj != null" >
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null" >
        #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrzj != null" >
        #{xgrzj,jdbcType=BIGINT},
      </if>
      <if test="scbz != null" >
        #{scbz,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyu.provider.user.entity.Xtdljkxxb" >
    update xtdljkxxb
    <set >
      <if test="fwmc != null" >
        FWMC = #{fwmc,jdbcType=VARCHAR},
      </if>
      <if test="jkmc != null" >
        JKMC = #{jkmc,jdbcType=VARCHAR},
      </if>
      <if test="jkzt != null" >
        JKZT = #{jkzt,jdbcType=VARCHAR},
      </if>
      <if test="sm != null" >
        SM = #{sm,jdbcType=VARCHAR},
      </if>
      <if test="cjrzj != null" >
        CJRZJ = #{cjrzj,jdbcType=BIGINT},
      </if>
      <if test="cjsj != null" >
        CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null" >
        XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrzj != null" >
        XGRZJ = #{xgrzj,jdbcType=BIGINT},
      </if>
      <if test="scbz != null" >
        SCBZ = #{scbz,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaoyu.provider.user.entity.Xtdljkxxb" >
    update xtdljkxxb
    set FWMC = #{fwmc,jdbcType=VARCHAR},
      JKMC = #{jkmc,jdbcType=VARCHAR},
      JKZT = #{jkzt,jdbcType=VARCHAR},
      SM = #{sm,jdbcType=VARCHAR},
      CJRZJ = #{cjrzj,jdbcType=BIGINT},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      XGRZJ = #{xgrzj,jdbcType=BIGINT},
      SCBZ = #{scbz,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=LONGVARCHAR}
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyu.provider.user.entity.Xtdljkxxb" >
    update xtdljkxxb
    set FWMC = #{fwmc,jdbcType=VARCHAR},
      JKMC = #{jkmc,jdbcType=VARCHAR},
      JKZT = #{jkzt,jdbcType=VARCHAR},
      SM = #{sm,jdbcType=VARCHAR},
      CJRZJ = #{cjrzj,jdbcType=BIGINT},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      XGRZJ = #{xgrzj,jdbcType=BIGINT},
      SCBZ = #{scbz,jdbcType=VARCHAR}
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
</mapper>