<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyu.provider.user.dao.XtjsxxbMapper" >
  <resultMap id="BaseResultMap" type="com.xiaoyu.provider.user.entity.Xtjsxxb" >
    <id column="ZJ" property="zj" jdbcType="BIGINT" />
    <result column="JSSSJGZJ" property="jsssjgzj" jdbcType="BIGINT" />
    <result column="JSMC" property="jsmc" jdbcType="VARCHAR" />
    <result column="JSMS" property="jsms" jdbcType="VARCHAR" />
    <result column="JSDM" property="jsdm" jdbcType="VARCHAR" />
    <result column="CJRZJ" property="cjrzj" jdbcType="BIGINT" />
    <result column="CJSJ" property="cjsj" jdbcType="TIMESTAMP" />
    <result column="XGSJ" property="xgsj" jdbcType="TIMESTAMP" />
    <result column="XGRZJ" property="xgrzj" jdbcType="BIGINT" />
    <result column="SCBZ" property="scbz" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xiaoyu.provider.user.entity.Xtjsxxb" extends="BaseResultMap" >
    <result column="BZ" property="bz" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ZJ, JSSSJGZJ, JSMC, JSMS, JSDM, CJRZJ, CJSJ, XGSJ, XGRZJ, SCBZ
  </sql>
  <sql id="Blob_Column_List" >
    BZ
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xtjsxxb
    where ZJ = #{zj,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from xtjsxxb
    where ZJ = #{zj,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaoyu.provider.user.entity.Xtjsxxb" >
    insert into xtjsxxb (ZJ, JSSSJGZJ, JSMC, 
      JSMS, JSDM, CJRZJ, CJSJ, 
      XGSJ, XGRZJ, SCBZ, 
      BZ)
    values (#{zj,jdbcType=BIGINT}, #{jsssjgzj,jdbcType=BIGINT}, #{jsmc,jdbcType=VARCHAR}, 
      #{jsms,jdbcType=VARCHAR}, #{jsdm,jdbcType=VARCHAR}, #{cjrzj,jdbcType=BIGINT}, #{cjsj,jdbcType=TIMESTAMP}, 
      #{xgsj,jdbcType=TIMESTAMP}, #{xgrzj,jdbcType=BIGINT}, #{scbz,jdbcType=VARCHAR}, 
      #{bz,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyu.provider.user.entity.Xtjsxxb" >
    insert into xtjsxxb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zj != null" >
        ZJ,
      </if>
      <if test="jsssjgzj != null" >
        JSSSJGZJ,
      </if>
      <if test="jsmc != null" >
        JSMC,
      </if>
      <if test="jsms != null" >
        JSMS,
      </if>
      <if test="jsdm != null" >
        JSDM,
      </if>
      <if test="cjrzj != null" >
        CJRZJ,
      </if>
      <if test="cjsj != null" >
        CJSJ,
      </if>
      <if test="xgsj != null" >
        XGSJ,
      </if>
      <if test="xgrzj != null" >
        XGRZJ,
      </if>
      <if test="scbz != null" >
        SCBZ,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zj != null" >
        #{zj,jdbcType=BIGINT},
      </if>
      <if test="jsssjgzj != null" >
        #{jsssjgzj,jdbcType=BIGINT},
      </if>
      <if test="jsmc != null" >
        #{jsmc,jdbcType=VARCHAR},
      </if>
      <if test="jsms != null" >
        #{jsms,jdbcType=VARCHAR},
      </if>
      <if test="jsdm != null" >
        #{jsdm,jdbcType=VARCHAR},
      </if>
      <if test="cjrzj != null" >
        #{cjrzj,jdbcType=BIGINT},
      </if>
      <if test="cjsj != null" >
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null" >
        #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrzj != null" >
        #{xgrzj,jdbcType=BIGINT},
      </if>
      <if test="scbz != null" >
        #{scbz,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyu.provider.user.entity.Xtjsxxb" >
    update xtjsxxb
    <set >
      <if test="jsssjgzj != null" >
        JSSSJGZJ = #{jsssjgzj,jdbcType=BIGINT},
      </if>
      <if test="jsmc != null" >
        JSMC = #{jsmc,jdbcType=VARCHAR},
      </if>
      <if test="jsms != null" >
        JSMS = #{jsms,jdbcType=VARCHAR},
      </if>
      <if test="jsdm != null" >
        JSDM = #{jsdm,jdbcType=VARCHAR},
      </if>
      <if test="cjrzj != null" >
        CJRZJ = #{cjrzj,jdbcType=BIGINT},
      </if>
      <if test="cjsj != null" >
        CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null" >
        XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrzj != null" >
        XGRZJ = #{xgrzj,jdbcType=BIGINT},
      </if>
      <if test="scbz != null" >
        SCBZ = #{scbz,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaoyu.provider.user.entity.Xtjsxxb" >
    update xtjsxxb
    set JSSSJGZJ = #{jsssjgzj,jdbcType=BIGINT},
      JSMC = #{jsmc,jdbcType=VARCHAR},
      JSMS = #{jsms,jdbcType=VARCHAR},
      JSDM = #{jsdm,jdbcType=VARCHAR},
      CJRZJ = #{cjrzj,jdbcType=BIGINT},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      XGRZJ = #{xgrzj,jdbcType=BIGINT},
      SCBZ = #{scbz,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=LONGVARCHAR}
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyu.provider.user.entity.Xtjsxxb" >
    update xtjsxxb
    set JSSSJGZJ = #{jsssjgzj,jdbcType=BIGINT},
      JSMC = #{jsmc,jdbcType=VARCHAR},
      JSMS = #{jsms,jdbcType=VARCHAR},
      JSDM = #{jsdm,jdbcType=VARCHAR},
      CJRZJ = #{cjrzj,jdbcType=BIGINT},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      XGRZJ = #{xgrzj,jdbcType=BIGINT},
      SCBZ = #{scbz,jdbcType=VARCHAR}
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
</mapper>