<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyu.provider.user.dao.XtryjsxxbMapper" >
  <resultMap id="BaseResultMap" type="com.xiaoyu.provider.user.entity.Xtryjsxxb" >
    <id column="ZJ" property="zj" jdbcType="BIGINT" />
    <result column="XTRYZJ" property="xtryzj" jdbcType="BIGINT" />
    <result column="XTJSZJ" property="xtjszj" jdbcType="BIGINT" />
    <result column="CJRZJ" property="cjrzj" jdbcType="BIGINT" />
    <result column="CJSJ" property="cjsj" jdbcType="TIMESTAMP" />
    <result column="XGSJ" property="xgsj" jdbcType="TIMESTAMP" />
    <result column="XGRZJ" property="xgrzj" jdbcType="BIGINT" />
    <result column="SCBZ" property="scbz" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xiaoyu.provider.user.entity.Xtryjsxxb" extends="BaseResultMap" >
    <result column="BZ" property="bz" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ZJ, XTRYZJ, XTJSZJ, CJRZJ, CJSJ, XGSJ, XGRZJ, SCBZ
  </sql>
  <sql id="Blob_Column_List" >
    BZ
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xtryjsxxb
    where ZJ = #{zj,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from xtryjsxxb
    where ZJ = #{zj,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaoyu.provider.user.entity.Xtryjsxxb" >
    insert into xtryjsxxb (ZJ, XTRYZJ, XTJSZJ, 
      CJRZJ, CJSJ, XGSJ, 
      XGRZJ, SCBZ, BZ)
    values (#{zj,jdbcType=BIGINT}, #{xtryzj,jdbcType=BIGINT}, #{xtjszj,jdbcType=BIGINT}, 
      #{cjrzj,jdbcType=BIGINT}, #{cjsj,jdbcType=TIMESTAMP}, #{xgsj,jdbcType=TIMESTAMP}, 
      #{xgrzj,jdbcType=BIGINT}, #{scbz,jdbcType=VARCHAR}, #{bz,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyu.provider.user.entity.Xtryjsxxb" >
    insert into xtryjsxxb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zj != null" >
        ZJ,
      </if>
      <if test="xtryzj != null" >
        XTRYZJ,
      </if>
      <if test="xtjszj != null" >
        XTJSZJ,
      </if>
      <if test="cjrzj != null" >
        CJRZJ,
      </if>
      <if test="cjsj != null" >
        CJSJ,
      </if>
      <if test="xgsj != null" >
        XGSJ,
      </if>
      <if test="xgrzj != null" >
        XGRZJ,
      </if>
      <if test="scbz != null" >
        SCBZ,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zj != null" >
        #{zj,jdbcType=BIGINT},
      </if>
      <if test="xtryzj != null" >
        #{xtryzj,jdbcType=BIGINT},
      </if>
      <if test="xtjszj != null" >
        #{xtjszj,jdbcType=BIGINT},
      </if>
      <if test="cjrzj != null" >
        #{cjrzj,jdbcType=BIGINT},
      </if>
      <if test="cjsj != null" >
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null" >
        #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrzj != null" >
        #{xgrzj,jdbcType=BIGINT},
      </if>
      <if test="scbz != null" >
        #{scbz,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyu.provider.user.entity.Xtryjsxxb" >
    update xtryjsxxb
    <set >
      <if test="xtryzj != null" >
        XTRYZJ = #{xtryzj,jdbcType=BIGINT},
      </if>
      <if test="xtjszj != null" >
        XTJSZJ = #{xtjszj,jdbcType=BIGINT},
      </if>
      <if test="cjrzj != null" >
        CJRZJ = #{cjrzj,jdbcType=BIGINT},
      </if>
      <if test="cjsj != null" >
        CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null" >
        XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrzj != null" >
        XGRZJ = #{xgrzj,jdbcType=BIGINT},
      </if>
      <if test="scbz != null" >
        SCBZ = #{scbz,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaoyu.provider.user.entity.Xtryjsxxb" >
    update xtryjsxxb
    set XTRYZJ = #{xtryzj,jdbcType=BIGINT},
      XTJSZJ = #{xtjszj,jdbcType=BIGINT},
      CJRZJ = #{cjrzj,jdbcType=BIGINT},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      XGRZJ = #{xgrzj,jdbcType=BIGINT},
      SCBZ = #{scbz,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=LONGVARCHAR}
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyu.provider.user.entity.Xtryjsxxb" >
    update xtryjsxxb
    set XTRYZJ = #{xtryzj,jdbcType=BIGINT},
      XTJSZJ = #{xtjszj,jdbcType=BIGINT},
      CJRZJ = #{cjrzj,jdbcType=BIGINT},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      XGRZJ = #{xgrzj,jdbcType=BIGINT},
      SCBZ = #{scbz,jdbcType=VARCHAR}
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
</mapper>