<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyu.provider.user.dao.XtzyxxbMapper" >
  <resultMap id="BaseResultMap" type="com.xiaoyu.provider.user.entity.Xtzyxxb" >
    <id column="ZJ" property="zj" jdbcType="BIGINT" />
    <result column="ZYMC" property="zymc" jdbcType="VARCHAR" />
    <result column="ZYMS" property="zyms" jdbcType="VARCHAR" />
    <result column="FJZYZJ" property="fjzyzj" jdbcType="BIGINT" />
    <result column="FJZYWYDM" property="fjzywydm" jdbcType="VARCHAR" />
    <result column="ZYWYDM" property="zywydm" jdbcType="VARCHAR" />
    <result column="ZYQDLX" property="zyqdlx" jdbcType="VARCHAR" />
    <result column="ZYLX" property="zylx" jdbcType="BIGINT" />
    <result column="PX" property="px" jdbcType="INTEGER" />
    <result column="CJRZJ" property="cjrzj" jdbcType="BIGINT" />
    <result column="CJSJ" property="cjsj" jdbcType="TIMESTAMP" />
    <result column="XGSJ" property="xgsj" jdbcType="TIMESTAMP" />
    <result column="XGRZJ" property="xgrzj" jdbcType="BIGINT" />
    <result column="SCBZ" property="scbz" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xiaoyu.provider.user.entity.Xtzyxxb" extends="BaseResultMap" >
    <result column="BZ" property="bz" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ZJ, ZYMC, ZYMS, FJZYZJ, FJZYWYDM, ZYWYDM, ZYQDLX, ZYLX, PX, CJRZJ, CJSJ, XGSJ, XGRZJ, 
    SCBZ
  </sql>
  <sql id="Blob_Column_List" >
    BZ
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xtzyxxb
    where ZJ = #{zj,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from xtzyxxb
    where ZJ = #{zj,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaoyu.provider.user.entity.Xtzyxxb" >
    insert into xtzyxxb (ZJ, ZYMC, ZYMS, 
      FJZYZJ, FJZYWYDM, ZYWYDM, 
      ZYQDLX, ZYLX, PX, CJRZJ, 
      CJSJ, XGSJ, XGRZJ, 
      SCBZ, BZ)
    values (#{zj,jdbcType=BIGINT}, #{zymc,jdbcType=VARCHAR}, #{zyms,jdbcType=VARCHAR}, 
      #{fjzyzj,jdbcType=BIGINT}, #{fjzywydm,jdbcType=VARCHAR}, #{zywydm,jdbcType=VARCHAR}, 
      #{zyqdlx,jdbcType=VARCHAR}, #{zylx,jdbcType=BIGINT}, #{px,jdbcType=INTEGER}, #{cjrzj,jdbcType=BIGINT}, 
      #{cjsj,jdbcType=TIMESTAMP}, #{xgsj,jdbcType=TIMESTAMP}, #{xgrzj,jdbcType=BIGINT}, 
      #{scbz,jdbcType=VARCHAR}, #{bz,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyu.provider.user.entity.Xtzyxxb" >
    insert into xtzyxxb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zj != null" >
        ZJ,
      </if>
      <if test="zymc != null" >
        ZYMC,
      </if>
      <if test="zyms != null" >
        ZYMS,
      </if>
      <if test="fjzyzj != null" >
        FJZYZJ,
      </if>
      <if test="fjzywydm != null" >
        FJZYWYDM,
      </if>
      <if test="zywydm != null" >
        ZYWYDM,
      </if>
      <if test="zyqdlx != null" >
        ZYQDLX,
      </if>
      <if test="zylx != null" >
        ZYLX,
      </if>
      <if test="px != null" >
        PX,
      </if>
      <if test="cjrzj != null" >
        CJRZJ,
      </if>
      <if test="cjsj != null" >
        CJSJ,
      </if>
      <if test="xgsj != null" >
        XGSJ,
      </if>
      <if test="xgrzj != null" >
        XGRZJ,
      </if>
      <if test="scbz != null" >
        SCBZ,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zj != null" >
        #{zj,jdbcType=BIGINT},
      </if>
      <if test="zymc != null" >
        #{zymc,jdbcType=VARCHAR},
      </if>
      <if test="zyms != null" >
        #{zyms,jdbcType=VARCHAR},
      </if>
      <if test="fjzyzj != null" >
        #{fjzyzj,jdbcType=BIGINT},
      </if>
      <if test="fjzywydm != null" >
        #{fjzywydm,jdbcType=VARCHAR},
      </if>
      <if test="zywydm != null" >
        #{zywydm,jdbcType=VARCHAR},
      </if>
      <if test="zyqdlx != null" >
        #{zyqdlx,jdbcType=VARCHAR},
      </if>
      <if test="zylx != null" >
        #{zylx,jdbcType=BIGINT},
      </if>
      <if test="px != null" >
        #{px,jdbcType=INTEGER},
      </if>
      <if test="cjrzj != null" >
        #{cjrzj,jdbcType=BIGINT},
      </if>
      <if test="cjsj != null" >
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null" >
        #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrzj != null" >
        #{xgrzj,jdbcType=BIGINT},
      </if>
      <if test="scbz != null" >
        #{scbz,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyu.provider.user.entity.Xtzyxxb" >
    update xtzyxxb
    <set >
      <if test="zymc != null" >
        ZYMC = #{zymc,jdbcType=VARCHAR},
      </if>
      <if test="zyms != null" >
        ZYMS = #{zyms,jdbcType=VARCHAR},
      </if>
      <if test="fjzyzj != null" >
        FJZYZJ = #{fjzyzj,jdbcType=BIGINT},
      </if>
      <if test="fjzywydm != null" >
        FJZYWYDM = #{fjzywydm,jdbcType=VARCHAR},
      </if>
      <if test="zywydm != null" >
        ZYWYDM = #{zywydm,jdbcType=VARCHAR},
      </if>
      <if test="zyqdlx != null" >
        ZYQDLX = #{zyqdlx,jdbcType=VARCHAR},
      </if>
      <if test="zylx != null" >
        ZYLX = #{zylx,jdbcType=BIGINT},
      </if>
      <if test="px != null" >
        PX = #{px,jdbcType=INTEGER},
      </if>
      <if test="cjrzj != null" >
        CJRZJ = #{cjrzj,jdbcType=BIGINT},
      </if>
      <if test="cjsj != null" >
        CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null" >
        XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrzj != null" >
        XGRZJ = #{xgrzj,jdbcType=BIGINT},
      </if>
      <if test="scbz != null" >
        SCBZ = #{scbz,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaoyu.provider.user.entity.Xtzyxxb" >
    update xtzyxxb
    set ZYMC = #{zymc,jdbcType=VARCHAR},
      ZYMS = #{zyms,jdbcType=VARCHAR},
      FJZYZJ = #{fjzyzj,jdbcType=BIGINT},
      FJZYWYDM = #{fjzywydm,jdbcType=VARCHAR},
      ZYWYDM = #{zywydm,jdbcType=VARCHAR},
      ZYQDLX = #{zyqdlx,jdbcType=VARCHAR},
      ZYLX = #{zylx,jdbcType=BIGINT},
      PX = #{px,jdbcType=INTEGER},
      CJRZJ = #{cjrzj,jdbcType=BIGINT},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      XGRZJ = #{xgrzj,jdbcType=BIGINT},
      SCBZ = #{scbz,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=LONGVARCHAR}
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyu.provider.user.entity.Xtzyxxb" >
    update xtzyxxb
    set ZYMC = #{zymc,jdbcType=VARCHAR},
      ZYMS = #{zyms,jdbcType=VARCHAR},
      FJZYZJ = #{fjzyzj,jdbcType=BIGINT},
      FJZYWYDM = #{fjzywydm,jdbcType=VARCHAR},
      ZYWYDM = #{zywydm,jdbcType=VARCHAR},
      ZYQDLX = #{zyqdlx,jdbcType=VARCHAR},
      ZYLX = #{zylx,jdbcType=BIGINT},
      PX = #{px,jdbcType=INTEGER},
      CJRZJ = #{cjrzj,jdbcType=BIGINT},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      XGRZJ = #{xgrzj,jdbcType=BIGINT},
      SCBZ = #{scbz,jdbcType=VARCHAR}
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
</mapper>