<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyu.provider.dao.XttgxmfjxxbMapper" >
  <resultMap id="BaseResultMap" type="com.xiaoyu.provider.base.entity.Xttgxmfjxxb" >
    <id column="ZJ" property="zj" jdbcType="BIGINT" />
    <result column="TGXMBZJ" property="tgxmbzj" jdbcType="BIGINT" />
    <result column="FJBT" property="fjbt" jdbcType="VARCHAR" />
    <result column="FJDX" property="fjdx" jdbcType="VARCHAR" />
    <result column="FJDZ" property="fjdz" jdbcType="VARCHAR" />
    <result column="CJRZJ" property="cjrzj" jdbcType="BIGINT" />
    <result column="CJSJ" property="cjsj" jdbcType="TIMESTAMP" />
    <result column="XGSJ" property="xgsj" jdbcType="TIMESTAMP" />
    <result column="XGRZJ" property="xgrzj" jdbcType="BIGINT" />
    <result column="SCBZ" property="scbz" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xiaoyu.provider.base.entity.Xttgxmfjxxb" extends="BaseResultMap" >
    <result column="BZ" property="bz" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ZJ, TGXMBZJ, FJBT, FJDX, FJDZ, CJRZJ, CJSJ, XGSJ, XGRZJ, SCBZ
  </sql>
  <sql id="Blob_Column_List" >
    BZ
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xttgxmfjxxb
    where ZJ = #{zj,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from xttgxmfjxxb
    where ZJ = #{zj,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaoyu.provider.base.entity.Xttgxmfjxxb" >
    insert into xttgxmfjxxb (ZJ, TGXMBZJ, FJBT, 
      FJDX, FJDZ, CJRZJ, CJSJ, 
      XGSJ, XGRZJ, SCBZ, 
      BZ)
    values (#{zj,jdbcType=BIGINT}, #{tgxmbzj,jdbcType=BIGINT}, #{fjbt,jdbcType=VARCHAR}, 
      #{fjdx,jdbcType=VARCHAR}, #{fjdz,jdbcType=VARCHAR}, #{cjrzj,jdbcType=BIGINT}, #{cjsj,jdbcType=TIMESTAMP}, 
      #{xgsj,jdbcType=TIMESTAMP}, #{xgrzj,jdbcType=BIGINT}, #{scbz,jdbcType=VARCHAR}, 
      #{bz,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyu.provider.base.entity.Xttgxmfjxxb" >
    insert into xttgxmfjxxb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zj != null" >
        ZJ,
      </if>
      <if test="tgxmbzj != null" >
        TGXMBZJ,
      </if>
      <if test="fjbt != null" >
        FJBT,
      </if>
      <if test="fjdx != null" >
        FJDX,
      </if>
      <if test="fjdz != null" >
        FJDZ,
      </if>
      <if test="cjrzj != null" >
        CJRZJ,
      </if>
      <if test="cjsj != null" >
        CJSJ,
      </if>
      <if test="xgsj != null" >
        XGSJ,
      </if>
      <if test="xgrzj != null" >
        XGRZJ,
      </if>
      <if test="scbz != null" >
        SCBZ,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zj != null" >
        #{zj,jdbcType=BIGINT},
      </if>
      <if test="tgxmbzj != null" >
        #{tgxmbzj,jdbcType=BIGINT},
      </if>
      <if test="fjbt != null" >
        #{fjbt,jdbcType=VARCHAR},
      </if>
      <if test="fjdx != null" >
        #{fjdx,jdbcType=VARCHAR},
      </if>
      <if test="fjdz != null" >
        #{fjdz,jdbcType=VARCHAR},
      </if>
      <if test="cjrzj != null" >
        #{cjrzj,jdbcType=BIGINT},
      </if>
      <if test="cjsj != null" >
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null" >
        #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrzj != null" >
        #{xgrzj,jdbcType=BIGINT},
      </if>
      <if test="scbz != null" >
        #{scbz,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyu.provider.base.entity.Xttgxmfjxxb" >
    update xttgxmfjxxb
    <set >
      <if test="tgxmbzj != null" >
        TGXMBZJ = #{tgxmbzj,jdbcType=BIGINT},
      </if>
      <if test="fjbt != null" >
        FJBT = #{fjbt,jdbcType=VARCHAR},
      </if>
      <if test="fjdx != null" >
        FJDX = #{fjdx,jdbcType=VARCHAR},
      </if>
      <if test="fjdz != null" >
        FJDZ = #{fjdz,jdbcType=VARCHAR},
      </if>
      <if test="cjrzj != null" >
        CJRZJ = #{cjrzj,jdbcType=BIGINT},
      </if>
      <if test="cjsj != null" >
        CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null" >
        XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrzj != null" >
        XGRZJ = #{xgrzj,jdbcType=BIGINT},
      </if>
      <if test="scbz != null" >
        SCBZ = #{scbz,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaoyu.provider.base.entity.Xttgxmfjxxb" >
    update xttgxmfjxxb
    set TGXMBZJ = #{tgxmbzj,jdbcType=BIGINT},
      FJBT = #{fjbt,jdbcType=VARCHAR},
      FJDX = #{fjdx,jdbcType=VARCHAR},
      FJDZ = #{fjdz,jdbcType=VARCHAR},
      CJRZJ = #{cjrzj,jdbcType=BIGINT},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      XGRZJ = #{xgrzj,jdbcType=BIGINT},
      SCBZ = #{scbz,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=LONGVARCHAR}
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyu.provider.base.entity.Xttgxmfjxxb" >
    update xttgxmfjxxb
    set TGXMBZJ = #{tgxmbzj,jdbcType=BIGINT},
      FJBT = #{fjbt,jdbcType=VARCHAR},
      FJDX = #{fjdx,jdbcType=VARCHAR},
      FJDZ = #{fjdz,jdbcType=VARCHAR},
      CJRZJ = #{cjrzj,jdbcType=BIGINT},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      XGRZJ = #{xgrzj,jdbcType=BIGINT},
      SCBZ = #{scbz,jdbcType=VARCHAR}
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
</mapper>