<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyu.provider.dao.XtyqljxxbMapper" >
  <resultMap id="BaseResultMap" type="com.xiaoyu.provider.base.entity.Xtyqljxxb" >
    <id column="ZJ" property="zj" jdbcType="BIGINT" />
    <result column="YQLJMC" property="yqljmc" jdbcType="VARCHAR" />
    <result column="YQLJDZ" property="yqljdz" jdbcType="VARCHAR" />
    <result column="YQLJTPDZ" property="yqljtpdz" jdbcType="VARCHAR" />
    <result column="PX" property="px" jdbcType="INTEGER" />
    <result column="CJRZJ" property="cjrzj" jdbcType="BIGINT" />
    <result column="CJSJ" property="cjsj" jdbcType="TIMESTAMP" />
    <result column="XGSJ" property="xgsj" jdbcType="TIMESTAMP" />
    <result column="XGRZJ" property="xgrzj" jdbcType="BIGINT" />
    <result column="SCBZ" property="scbz" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xiaoyu.provider.base.entity.Xtyqljxxb" extends="BaseResultMap" >
    <result column="BZ" property="bz" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ZJ, YQLJMC, YQLJDZ, YQLJTPDZ, PX, CJRZJ, CJSJ, XGSJ, XGRZJ, SCBZ
  </sql>
  <sql id="Blob_Column_List" >
    BZ
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from xtyqljxxb
    where ZJ = #{zj,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from xtyqljxxb
    where ZJ = #{zj,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xiaoyu.provider.base.entity.Xtyqljxxb" >
    insert into xtyqljxxb (ZJ, YQLJMC, YQLJDZ, 
      YQLJTPDZ, PX, CJRZJ, 
      CJSJ, XGSJ, XGRZJ, 
      SCBZ, BZ)
    values (#{zj,jdbcType=BIGINT}, #{yqljmc,jdbcType=VARCHAR}, #{yqljdz,jdbcType=VARCHAR}, 
      #{yqljtpdz,jdbcType=VARCHAR}, #{px,jdbcType=INTEGER}, #{cjrzj,jdbcType=BIGINT}, 
      #{cjsj,jdbcType=TIMESTAMP}, #{xgsj,jdbcType=TIMESTAMP}, #{xgrzj,jdbcType=BIGINT}, 
      #{scbz,jdbcType=VARCHAR}, #{bz,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyu.provider.base.entity.Xtyqljxxb" >
    insert into xtyqljxxb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="zj != null" >
        ZJ,
      </if>
      <if test="yqljmc != null" >
        YQLJMC,
      </if>
      <if test="yqljdz != null" >
        YQLJDZ,
      </if>
      <if test="yqljtpdz != null" >
        YQLJTPDZ,
      </if>
      <if test="px != null" >
        PX,
      </if>
      <if test="cjrzj != null" >
        CJRZJ,
      </if>
      <if test="cjsj != null" >
        CJSJ,
      </if>
      <if test="xgsj != null" >
        XGSJ,
      </if>
      <if test="xgrzj != null" >
        XGRZJ,
      </if>
      <if test="scbz != null" >
        SCBZ,
      </if>
      <if test="bz != null" >
        BZ,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="zj != null" >
        #{zj,jdbcType=BIGINT},
      </if>
      <if test="yqljmc != null" >
        #{yqljmc,jdbcType=VARCHAR},
      </if>
      <if test="yqljdz != null" >
        #{yqljdz,jdbcType=VARCHAR},
      </if>
      <if test="yqljtpdz != null" >
        #{yqljtpdz,jdbcType=VARCHAR},
      </if>
      <if test="px != null" >
        #{px,jdbcType=INTEGER},
      </if>
      <if test="cjrzj != null" >
        #{cjrzj,jdbcType=BIGINT},
      </if>
      <if test="cjsj != null" >
        #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null" >
        #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrzj != null" >
        #{xgrzj,jdbcType=BIGINT},
      </if>
      <if test="scbz != null" >
        #{scbz,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        #{bz,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyu.provider.base.entity.Xtyqljxxb" >
    update xtyqljxxb
    <set >
      <if test="yqljmc != null" >
        YQLJMC = #{yqljmc,jdbcType=VARCHAR},
      </if>
      <if test="yqljdz != null" >
        YQLJDZ = #{yqljdz,jdbcType=VARCHAR},
      </if>
      <if test="yqljtpdz != null" >
        YQLJTPDZ = #{yqljtpdz,jdbcType=VARCHAR},
      </if>
      <if test="px != null" >
        PX = #{px,jdbcType=INTEGER},
      </if>
      <if test="cjrzj != null" >
        CJRZJ = #{cjrzj,jdbcType=BIGINT},
      </if>
      <if test="cjsj != null" >
        CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgsj != null" >
        XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      </if>
      <if test="xgrzj != null" >
        XGRZJ = #{xgrzj,jdbcType=BIGINT},
      </if>
      <if test="scbz != null" >
        SCBZ = #{scbz,jdbcType=VARCHAR},
      </if>
      <if test="bz != null" >
        BZ = #{bz,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xiaoyu.provider.base.entity.Xtyqljxxb" >
    update xtyqljxxb
    set YQLJMC = #{yqljmc,jdbcType=VARCHAR},
      YQLJDZ = #{yqljdz,jdbcType=VARCHAR},
      YQLJTPDZ = #{yqljtpdz,jdbcType=VARCHAR},
      PX = #{px,jdbcType=INTEGER},
      CJRZJ = #{cjrzj,jdbcType=BIGINT},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      XGRZJ = #{xgrzj,jdbcType=BIGINT},
      SCBZ = #{scbz,jdbcType=VARCHAR},
      BZ = #{bz,jdbcType=LONGVARCHAR}
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyu.provider.base.entity.Xtyqljxxb" >
    update xtyqljxxb
    set YQLJMC = #{yqljmc,jdbcType=VARCHAR},
      YQLJDZ = #{yqljdz,jdbcType=VARCHAR},
      YQLJTPDZ = #{yqljtpdz,jdbcType=VARCHAR},
      PX = #{px,jdbcType=INTEGER},
      CJRZJ = #{cjrzj,jdbcType=BIGINT},
      CJSJ = #{cjsj,jdbcType=TIMESTAMP},
      XGSJ = #{xgsj,jdbcType=TIMESTAMP},
      XGRZJ = #{xgrzj,jdbcType=BIGINT},
      SCBZ = #{scbz,jdbcType=VARCHAR}
    where ZJ = #{zj,jdbcType=BIGINT}
  </update>
</mapper>